{% extends 'error/base.html.twig' %}

{% block error_message %}
    <p class="lead">Nie masz uprawnień do przeglądania tej strony.</p>
    <p>Jeśli uważasz, że to błąd, skontaktuj się z administratorem systemu.</p>
{% endblock %}
