{% extends 'error/base.html.twig' %}

{% block error_message %}
    <p class="lead">Strona, której szukasz, nie została znaleziona.</p>
    <p>Sprawdź, czy adres URL jest poprawny lub skorzystaj z przycisków poniżej, aby wrócić do strony głównej.</p>
{% endblock %}
