{% extends 'error/base.html.twig' %}

{% block error_message %}
    <p class="lead">Wystąpił błąd serwera podczas przetwarzania Twojego żądania.</p>
    <p>Nasi inżynierowie zostali powiadomieni o problemie. Spróbuj odświeżyć stronę za chwilę.</p>
{% endblock %}
